<%-include("partials/header")-%>
    <nav>
        <h1>Student Records</h1>
        <div class="log-options">
            <a href="/">Student</a>
            <a href="/admin">Admin</a>
        </div>
    </nav>
    </header>

    <section id="main">
        <div id="login-div" class="contain tab-content">
            <div class="outline"></div>
            <h1>Login.</h1>
            <h6>Log in to existing account</h6>
            <form action="/admin" method="post" class="login-form">
                <div class="login-input">
                    <label for="email">Enter e-Mail ID</label></br>
                    <input name="email" type="text">
                </div>
                <div class="login-input">
                    <label for="password">Enter Password</label></br>
                    <input name="password" type="password">
                </div>
                <input type="submit">
            </form>
        </div>
    </section>

    <%-include("partials/footer")-%>